* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Inter', sans-serif;
}
.hidden {
  display: none !important;
}
.carousel {
  position: relative;
}
.carousel-inner__cta {
  position: absolute;
  z-index: 1;
  width: 118px;
  margin: 20px;
  height: 26px;
  bottom: 35px;
  right: 30px;
  font-size: 1.4rem !important;
  font-weight: 600;
  background-color: #0581f5 !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff !important;
}
.carousel-item .slideContent {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  height: 100%;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.carousel-item .slideContent__box {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  background-color: rgba(0, 46, 108, 0.7);
  width: 100%;
  padding: 40px;
}
.carousel-item .slideContent__box__span {
  font-size: 2rem;
  font-weight: 800;
  line-height: 3rem;
  color: #0581f5;
  -ms-flex-item-align: start;
      align-self: flex-start;
  border-bottom: 1px solid #0581f5;
}
.carousel-item .slideContent__box__title {
  font-size: 3.6rem;
  margin: 0;
  font-weight: 800;
}
.carousel-item .slideContent__box__title strong {
  font-weight: 600;
}
.carousel-item .slideContent__box__text {
  font-size: 1.8rem;
  margin: 0;
  font-weight: 300;
}
.modal-content {
  color: #ffffff;
  background-color: #0c2461;
}
.modal-title {
  color: #002e6c;
}
.modal-header {
  font-weight: 800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.modal-header img {
  width: 45px;
  height: auto;
}
.modal-header p {
  padding: 10px 20px;
  font-size: 2rem !important;
}
.modal-body {
  padding: 20px !important;
}
.modal-body span {
  font-size: 1.2rem;
  font-weight: 800;
  color: #151F38;
  margin: 10px auto !important;
}
.modal-body form {
  margin: 20px auto;
}
.modal-body label {
  color: #222;
}
.modal-body p {
  font-size: 1.4rem;
}
.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
  margin: 0 auto;
}
.content__title {
  padding: 20px 40px;
  margin: 0;
  font-weight: 800;
  text-align: center;
}
.content__title h1 {
  margin: 0;
  font-size: 2.4rem;
  font-weight: 800;
  font-weight: 600;
  border-bottom: 2px solid #0581f5;
  padding: 10px 0;
}
.content__title h1 strong {
  font-weight: 800;
}
.content__title h3 {
  font-size: 1.4rem;
  font-weight: 600;
  margin: 0;
  color: #535C68;
  margin: 10px 0;
}
.content__title a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 400;
  background-color: #002e6c;
  padding: 5px 10px;
  margin: 10px auto;
}
.content__backBox {
  margin: 20px auto;
  background-color: #002e6c;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px 40px;
  text-align: center;
  gap: 20px;
}
.content__backBox__title h2 {
  font-size: 2.4rem;
  font-weight: 400;
  margin: 0;
}
.content__backBox__title h2 strong {
  font-weight: 800;
}
.content__backBox__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.content__backBox__item img {
  width: 60px;
  height: auto;
}
.content__backBox__item h2 {
  font-size: 2.4rem;
  margin: 0;
  font-weight: 800;
}
.content__backBox__item p {
  font-size: 1.8rem;
  margin: 0;
  font-weight: 300;
}
.footer {
  color: #ffffff;
}
.footer__header {
  background-color: #0581f5;
  padding: 5px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.footer__header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}
.footer__header__item img {
  width: 30px;
}
.footer__header__item__text {
  font-size: 1.4rem;
}
.footer__header__item__text p {
  margin: 0;
}
.footer__header__item__text-link {
  font-size: 1.2rem;
}
.footer__header__item__text a {
  color: #ffffff;
  text-decoration: none;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.footer__body {
  background-color: #002e6c;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__body__enlaces {
  font-size: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
}
.footer__body__enlaces ul {
  text-align: center;
}
.footer__body__enlaces ul li {
  list-style: none;
}
.footer__body__enlaces ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.2rem;
}
.footer__body__schedule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__body__schedule-title {
  font-size: 1.8rem;
}
.footer__body__schedule-hours-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  font-size: 1.4rem;
}
.footer__body__schedule-hours-item p {
  margin: 0;
}
.footer__body__redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__body__redes-title {
  font-size: 1.8rem;
  margin: 0;
}
.footer__body__redes a img {
  width: 62px;
}
.footer__footer {
  background-color: #0581f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 35px;
  gap: 10px;
}
.footer__footer p {
  margin: 0;
}
.footer__footer a {
  color: #ffffff;
}
.footer__footer img {
  width: 25px;
}
