@import "variables.less";
@import "globals.less";
//Call to Action -> Contacto
.hide{
    display: none;
}
.show{
    display: block;
}
.btn-mas{
    background-color: @color-primary;
    color: @color-white;
    padding: 5px 10px;
    font-size: @font-size-md;
    font-weight: @font-semibold;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: all .3s;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 175px;
    align-self: flex-end;
    &:hover{
        background-color: @color-secondary;
    }
    img{
        width: 25px;
        height: auto;
    }

}

.ctaContacto{
    position: absolute;
    z-index: 1;
    width: 118px;
    margin: 20px;
    height: 26px;
    bottom: 40px;
    right: 30px;
    font-size: @font-size-md !important;
    font-weight: @font-semibold;
    background-color: @color-secondary !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
    color: @color-white !important;
}
// Slides Index
.carousel{
    position: relative;
    &-item{
        .slideContent{
            position: absolute;
            display: flex;
            top: 0;
            height: 100%;
            width: 100%;
            justify-content: center;
            &__box{
                color: @color-white;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: left;
                background-color: rgba(0,46,108,.7);
                width: 100%;
                padding: 40px;
                &__span{
                    font-size: 2rem;
                    font-weight: 800;
                    line-height: 3rem;
                    color: @color-secondary;
                    align-self: flex-start;
                    border-bottom: 1px solid @color-secondary;
                }
                &__title{
                    font-size: @font-size-title;
                    font-weight: 800;
                    margin: 0;
                    font-weight: @font-bold;
                    strong{
                        font-weight: @font-semibold;
                    }

                }
                &__text{
                    font-size: @font-size-lg;
                    margin: 0;
                    font-weight: @font-light;
                }
            }
        }
    }
}

//Modal
.modal{
    &-content{
        color: @color-white;
        // background-color: rgba(2, 2, 2,.9);
        background-color: rgba(12, 36, 97,1);
    }
    &-title{
        color: @color-primary;
    }
    &-header{
        font-weight: 800;
        display: flex;
        justify-content: space-around;
        align-items: center;
        img{
            width: 45px;
            height: auto;
        }
        p{
            padding: 10px 20px;
            font-size: 2rem !important;
        }
       
    }
    &-body{
        padding: 20px !important;
        span{
            font-size: @font-size-sm;
            font-weight: 800;
            color: @color-text;
            margin: 10px auto !important;
        }
        form{
            margin: 20px auto;
        }
        label{
            color: #222;
        }
        p{
            font-size: 1.4rem;

        }
    }
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    margin: 0 auto;
    &__title{
        padding: 20px 40px;
        margin: 0;
        font-weight: @font-bold;
        text-align: center;
        h1{
            margin: 0;
            font-size: @font-size-xlg;
            font-weight: 800;
            font-weight: @font-semibold;
            border-bottom: 2px solid @color-secondary;
            padding: 10px 0;

            strong{
                font-weight: @font-bold;
            }
        }
        h3{
            font-size: @font-size-md;
            font-weight: @font-semibold;
            margin: 0;
            color: @color-text-light;
            margin: 10px 0;
        }
        a{
            color: @color-white;
            text-decoration: none;
            font-size: @font-size-md;
            font-weight: @font-regular;
            background-color: @color-primary;
            padding: 5px 10px;
            margin: 10px auto;
        }
       
    
    }
    &__backBox{
        margin: 20px auto;
        background-color: @color-primary;
        color: @color-white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 60px 40px;
        text-align: center;
        gap: 20px;
        &__title{
          h2{
            font-size: @font-size-xlg;
            font-weight: @font-regular;
            margin: 0;
            strong{
                font-weight: @font-bold;
            }
          }
        }
        &__item{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            img{
                width: 60px;
                height: auto;
            }
            h2{
                font-size: @font-size-xlg;
                margin: 0;
                font-weight: @font-bold;
            }
            p{
                font-size: @font-size-lg;
                margin: 0;
                font-weight: @font-light;
            }
        }
    }
    &__products{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        &__title{
            font-size: @font-size-xlg;
            font-weight: @font-light;
            margin: 20px;
            padding: 20px 0;
            text-align: center;
            color: @color-text;
            strong {
                font-weight: @font-bold;
            }
        }
        &__item{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            margin: 20px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            padding: 40px;
            text-align: center;
            img{
                width: auto;
                height: 169px;
                
            }
            &__title{
                font-size: @font-size-xlg;
                margin: 0;
                font-weight: @font-semibold;
                color: @color-primary;
            }
            &__text{
                text-align: center;
                color: @color-text-light;
                border-bottom: 2px solid @color-secondary;
                gap: 10px;
                &-title{
                    font-size: @font-size-lg;
                    margin: 0;
                    font-weight: @font-semibold;
                    padding: 20px;
                }
                &-description{
                    font-size: @font-size-md;
                    margin: 0;
                    font-weight: @font-regular;
                    padding: 10px 0;
                    text-align: left;
                }

            }
            &__link{
                background-color: @color-primary;
                padding: 5px 10px;
                margin: 10px auto;
                align-self: flex-end;
                a{
                    color: @color-white;
                    text-decoration: none;
                    font-size: @font-size-md;
                    font-weight: @font-regular;
                } 
            }
        
        }
    }
    &__brands{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin: 20px;
        &__title{
            text-align: center;
            font-size: @font-size-xlg;
            padding: 10px;
            font-weight: 200;
            border-bottom: 1px solid @color-secondary;
            margin: 20px 46px 5px 46px;
            strong{
                font-weight: @font-semibold;
            }

        }
        &__text{
            margin: 0px 46px 5px 46px;
            font-size: @font-size-md;
            text-align: center;

        }
        &__logos{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            img{
                width: 260px;
                height: auto;
            }
        
        }
    }
}
.empresa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    &__banner{
        background-image: url('/assets/images/mobile/empresaSlide-722x1048.jpg');
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        height: 466px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        &__box{
            background-color: rgba(0,46,108,80%);
            color: @color-white;
            height: 400px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding: 40px 60px;
            &__title{
                font-size: @font-size-title;
            }
            &__description{
                font-size: @font-size-lg;
            }

        }
    }
    &__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin: 40px;
        &__title{
            padding: 20px 0;
            text-align: center;
            color: @color-text;
            h2{
                font-size: @font-size-xlg;
                font-weight: @font-semibold;
                color: @color-text-light;
                text-align: left;
            }
        }
        &__description{
            p{
                font-size: @font-size-lg;
                color: @color-text-light;
            }
        }
        &__items{
            &__item{
                &__text{
                    h3{
                        font-size: @font-size-xlg;
                        font-weight: @font-semibold;
                        color: @color-primary;
                        margin: 10px auto;
                        padding-bottom: 10px;
                        border-bottom: 3px solid @color-secondary;
                    }
                    p{
                        font-size: @font-size-lg;
                        color: @color-text-light;
                        text-align: left;
                    
                    }
                }
               
            }
        }
        
    }
    &__testimonios{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        &__title{
            h2{
                font-size: @font-size-xlg;
                font-weight: @font-semibold;
                color: @color-text-light;
            }
            margin: 20px 40px;
            padding: 10px 0;
            text-align: left;
        }
        &__content{
            &__item{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px;
                margin: 40px;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                padding: 20px 40px;
                text-align: center;
                &__text{
                    text-align: center;
                    color: @color-text-light;
                    border-bottom: 1px solid @color-secondary;
                    gap: 10px;
                    p{
                        font-size: @font-size-lg;
                        margin: 0;
                        font-weight: @font-light;
                        padding-bottom: 10px;

                    }

                }
                &__author{
                    font-size: @font-size-md;
                    margin: 0;
                    font-weight: @font-semibold;
                    color: @color-primary;
                }
            }
        }
       
    
    }
}
.servicios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    &__banner{
        background-image: url('/assets/images/mobile/productosSlides-722x1048.jpg');
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        height: 466px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        &__box{
            background-color: rgba(0,46,108,80%);
            color: @color-white;
            height: 400px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding: 40px 60px;
            &__title{
                font-size: @font-size-title;
            }
            &__description{
                font-size: @font-size-lg;
            }

        }
    }
    &__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin: 40px;
        &__title{
            padding: 20px 0;
            text-align: center;
            color: @color-text;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            span{
                font-size: @font-size-lg;
                font-weight: 600;
                align-self: flex-start;
                color: @color-text-light;
            }
            h2{
                font-size: @font-size-xlg;
                font-weight: @font-semibold;
                color: @color-text-light;
                text-align: left;
            }
        }
        &__description{
            p{
                font-size: @font-size-lg;
                color: @color-text-light;
            }
        }
        &__item{
            &__text{
                h3{
                    font-size: @font-size-xlg;
                    font-weight: @font-semibold;
                    color: @color-primary;
                    margin: 10px auto;
                    padding-bottom: 10px;
                    border-bottom: 3px solid @color-secondary;
                }
                p{
                    font-size: @font-size-lg;
                    color: @color-text-light;
                    text-align: left;
                
                }
            }
           
        }
    }
}
.consejos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    &__banner{
        background-image: url('/assets/images/mobile/consejosSlides-722x1048.jpg');
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        height: 466px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        &__box{
            background-color: rgba(0,46,108,80%);
            color: @color-white;
            height: 400px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding: 40px 60px;
            &__title{
                font-size: 4.2rem;
                padding-right: 30px;
                font-weight: 800;
            }
            &__description{
                font-size: @font-size-xlg;
                &_sub{
                    font-size: @font-size-md;
                }
            }

        }
    }
    &__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin: 40px;
        &__title{
            padding: 20px 0;
            text-align: center;
            color: @color-text;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            span{
                font-size: @font-size-lg;
                font-weight: 600;
                align-self: flex-start;
                color: @color-text-light;
            }
            h2{
                font-size: @font-size-xlg;
                font-weight: @font-semibold;
                color: @color-text-light;
                text-align: left;
            }
        }
        &__description{
            p{
                font-size: @font-size-lg;
                color: @color-text-light;
            }
        }
        &__item{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &__text{
                h3{
                    font-size: @font-size-lg;
                    font-weight: @font-semibold;
                    color: @color-primary;
                    margin: 10px auto;
                    padding-bottom: 10px;
                    border-bottom: 3px solid @color-secondary;
                }
                p{
                    font-size: @font-size-lg;
                    color: @color-text-light;
                    text-align: left;
                
                }
            }
           
        }
    }
}

.footer{
    color: @color-white;
    &__header{
        background-color: @color-secondary;
        padding: 5px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        &__item{
            display: flex;
            justify-content: space-evenly;
            align-items: flex-start;
            width: 100%;
            img{
                width: 30px;
            }
            &__text{
                font-size: @font-size-md;
                p{
                    margin: 0;
                }
                &-link{
                 
                    font-size: @font-size-sm;
                }
                a{
                    color: @color-white;
                    text-decoration: none;
                    margin: 0;
                    display: flex;
                    justify-content: flex-end;
                }
            }
        }
    }
    &__body{
        background-color: @color-primary;
        padding: 30px;
        display: flex;
        flex-direction: column;
        &__enlaces{
            font-size: @font-size-lg;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 20px;
            ul{
                text-align: center;

                li{
                    list-style: none;
                    a{
                        color: @color-white;
                        text-decoration: none;
                        font-size: @font-size-sm;


                    }
                }
            }
        }
        &__schedule{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &-title{
                font-size: @font-size-lg;
            }
            &-hours{
                &-item{
                    display: flex;
                    justify-content: space-between;
                    gap: 20px;
                    font-size: @font-size-md;
                    p{
                        margin: 0;
                    }
                }
            }
        }
        &__redes{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &-title{
                font-size: @font-size-lg;
                margin: 0;

            }
            a{
               img{
                width: 62px;
               }
            }

        }
    }
    &__footer{
        background-color: @color-secondary;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 35px;
        gap: 10px;
        p{
            margin: 0;
        }
        a{
            color: @color-white;
        }
        img{
            width: 25px;
        }
    }

}
