.ctaContacto{
    bottom: 200px;
    right: 55px;
    height: 40px;
}
.carousel-item .slideContent{
    display: flex;
    flex-direction: row;
    &__box{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: "title text"
                             "title text";

        align-items: flex-start;
        padding: 150px 100px;
        gap: 10px;
        justify-content: center;
        align-items: center;
        &__span{
            grid-area: span;
            display: none;
            // display: flex;
            // justify-content: center;
            // align-items: center;
            // font-size: 20px;
            // font-weight: 700;
            // color: #fff;
        }
        &__title{
            grid-area: title;
            // display: flex;
            // justify-content: center;
            // align-items: center;
            // font-size: 40px;
            // font-weight: 700;
            // color: #fff;
        }
        &__text{
            grid-area: text;
            // display: flex;
            // justify-content: center;
            // align-items: center;
            // font-size: 20px;
            // font-weight: 400;
            // color: #fff;
            text-align: left;
            font-size: 27px;
        }
    }
}
.content{
    &__title{
        padding: 20px 120px;
    }
    &__backBox{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr 1fr;
        grid-template-areas: 'title title'
                             'atencion tecnologia'
                             'compromiso satisfaccion';
        justify-content: center;
        align-items: flex-start;
        &__title{
            grid-area: title;
            padding: 0px 120px;
        }

        &__item{
            width: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        #backBoxitem1{
            grid-area: atencion;
        }
        #backBoxitem2{
            grid-area: tecnologia;
        }
        #backBoxitem3{
            grid-area: compromiso;
        }
        #backBoxitem4{
            grid-area: satisfaccion;
        }
    }
    &__products{
        margin: 40px;
        flex-direction: row;
        flex-wrap: wrap;
        &__title{
            padding: 20px;
        }
        &__item{
            width: 300px;
            margin: 0;
            &__title{
                height: 125px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &__text{
                height: 215px;
                text-align: left;
                &-title{
                padding: 20px 0;

                }

            }
            &__link{
                margin: 10px 0;
            }
        }
    }
    &__brands{
        margin: 40px;
        &__logos{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
}
.empresa{
    &__banner{
        background-image: url(/assets/images/tablet/empresa-item1440x900.jpg);
        background-attachment: unset;
        &__box{
           background-color: rgba(0, 46, 108, 0.4);
           padding: 145px 277px 100px 69px;
           height: 100%;
        }
    }
    &__content{
        padding: 40px;
        &__title{
            padding: 20px 120px;
            text-align: center;
        }
        &__description{
            padding: 20px;
            max-width: 600px;
            text-align: center;
        }
        &__items{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 30px;
            &__item{
                width: 240px;
                &__text{
                    height: 400px;
                }
            }
        }
    }
    &__testimonios{
        margin-bottom: 40px;
        padding: 20px;
        &__title{
            width: 400px;
            text-align: center;
        }
        &__content{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 40px;
            &__item{
                width: 300px;
                margin: 0;
                &__text{
                    height: 200px;
                }
            }
        }
    }
}
.servicios{
    &__banner{
        background-image: url(/assets/images/tablet/equiposYServiciosItem1440x900.jpg);
        background-attachment: unset;
        &__box{
           background-color: rgba(0, 46, 108, 0.2);
           padding: 145px 277px 100px 69px;
           height: 100%;
        }
    }
    &__content{
        padding: 40px;
        &__title{
            padding: 20px 120px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            span{
                align-self: center;
            }
            h2{
                text-align: center;

            }
        }
        &__description{
            padding: 20px;
            max-width: 600px;
            text-align: center;
        }
        &__items{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 30px;
            &__item{
                width: 280px;
                &__text{
                    h3{
                        height: 80px;
                    }
                    height: 600px;
                }
            }
        }
    }
}
.consejos{
    &__banner{
        background-image: url(/assets/images/tablet/consejos-item1440x900.jpg);
        background-attachment: unset;
        &__box{
            background-color: rgba(0, 46, 108, 0.4);
            padding: 145px 277px 100px 69px;
            height: 100%;
        }
    }
    &__content{
        padding: 40px;
        &__title{
            padding: 20px 120px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            span{
                align-self: center;
            }
            h2{
                text-align: center;

            }
        }
        &__description{
            padding: 20px;
            max-width: 600px;
            text-align: center;
        }
        &__items{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 30px;
            &__item{
                width: 600px;
                &__text{
                    h3{
                        height: 80px;
                    }
                    height: auto;
                }
            }
        }
    }
}
.footer{
    &__header{
        flex-direction: row;
        &__item{
            justify-content: center;
            align-items: flex-start;
            gap: 20px;
        }

    }
    &__body{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: "logo shedule"
                             "enlaces redes";
        justify-content: center;
        align-items: center;
        &__logo{    
            height: auto;
            overflow: hidden;
            grid-area: logo;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 206px;
                height: auto;
            }
        }
        &__enlaces{
            grid-area: enlaces;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            ul{
                text-align: left;

            }
        }
        &__shedule{
            grid-area: shedule;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__redes{
            grid-area: redes;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

}